<div class="search-banner">
  <h1> Welcome to AptReviews! </h1>
  <ul class="icons">
    <li>
      <img src="/assets/search.png">
      <h4>Search</h4>
    </li>
    <li>
      <img src="/assets/add.png">
      <h4>Add</h4>
    </li>
    <li>
      <img src="/assets/review.png">
      <h4>Review</h4>
    </li>
  </ul>
  <div class="blurb">
    <p>Find an apartment online that boasts about closets, only to see it in person and realize it IS a closet?
        Yeah. Been there. Apartment hunting sucks and AptReviews is here to help.
        Search for reviewed apartments by city, address, or even paste a URL of a listing to find apt reviews of that apartment.</p>
  </div>

</div>
<div class="center-content">
  <%= raw("<p><strong class='error'>#{flash[:search_error_message]}</strong></p>") unless flash[:search_error_message].nil? %>

  

  <h2>Apartment List</h2>

  <% if logged_in? %>
    <button><%= link_to "Add New Apartment", new_user_apartment_path(current_user.id) %></button>
    <br/>
  <% end %>

  <ul class="link-list">
    <% @apartments.each do |apartment| %>
      <li><%= link_to "#{ apartment.address }, Apartment #{ apartment.unit }", apartment_path(apartment) %></li>
    <% end %>
  </ul>
</div>