<div class="search-banner">
  <h1> Welcome to AptReviews! </h1>

  <h2>Search for an Address or a Listing URL</h2>

  <form class="search-form" method="GET" action="/apartments/search">
    <input type="text" name="search_input" id="search_input_field" placeholder="Search Address or URL"/>
    <input type="submit" />
  </form>
</div>

<div class="apartment-list">
  <%= raw("<p><strong class='error'>#{flash[:search_error_message]}</strong></p>") unless flash[:search_error_message].nil? %>

  <% if logged_in? %>
    <%= link_to "Add New Apartment", new_user_apartment_path(current_user.id) %>
    <br/>
  <% end %>

  <h2>Apartment List</h2>
  <ul class="link-list">
    <% @apartments.each do |apartment| %>
      <li><%= link_to "#{ apartment.address }, Apartment #{ apartment.unit }", apartment_path(apartment) %></li>
    <% end %>
  </ul>
</div>