<div class="search-banner">
  <h1> Welcome to AptReviews! </h1>


</div>
<div class="center-content">
  <%= raw("<p><strong class='error'>#{flash[:search_error_message]}</strong></p>") unless flash[:search_error_message].nil? %>

  

  <h2>Apartment List</h2>

  <% if logged_in? %>
    <button><%= link_to "Add New Apartment", new_user_apartment_path(current_user.id) %></button>
    <br/>
  <% end %>

  <ul class="link-list">
    <% @apartments.each do |apartment| %>
      <li><%= link_to "#{ apartment.address }, Apartment #{ apartment.unit }", apartment_path(apartment) %></li>
    <% end %>
  </ul>
</div>