<h1> Welcome to AptReviews! </h1>

<ul>
  <% @apartments.each do |apartment| %>
    <li><%= link_to "#{ apartment.address }, Apartment #{ apartment.unit }", apartment_path(apartment) %></li>
  <% end %>

</ul>