<div class="center-content">
  <h2>Apartment List</h2>

  <% if logged_in? %>
    <button><%= link_to "Add New Apartment", new_user_apartment_path(current_user.id) %></button>
  <% end %>

  <ul>
    <% @apartments.each do |apartment| %>
      <li><%= link_to "#{ apartment.address }, Apartment #{ apartment.unit }", apartment_path(apartment) %></li>
    <% end %>
  </ul>
</div>