<div class="center-content">
  <h2 class="result-header">Search Results</h2>
  <%= raw("<p><strong class='success'>#{flash[:multiple_success_message]}</strong></p>") unless flash[:multiple_success_message].nil? %>
  <ul class="link-list">
    <% @found_apartment.each do |apartment| %>
      <li><%= link_to "#{ apartment.address }, Apartment #{ apartment.unit }", apartment_path(apartment) %></li>
    <% end %>
  </ul>
</div>