<h1> I am an Apartment! Learn all aboot me.</h1>

<div class="map_container">
  <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @apartment.address %>&size=400x400&zoom=15&markers=color:red%7Clabel:C%7C<%= @apartment.address %>&sensor=false" alt="Address on Map">
</div>